<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Classroom Pivotal Response Teaching</title>
    <link href="css/bootstrap.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="css/bootstrap-responsive.min.css" media="all" rel="stylesheet" type="text/css"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script src="js/underscore-1.1.6.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="//www.parsecdn.com/js/parse-1.0.18.min.js"></script>
    <script src="js/cprt.js"></script>

    <style type="text/css">

      body
      {
        margin:20px;
      }

    </style>
  </head>

  <body>

    <!-- Todo App Interface -->
    <div class="container">
      
        <div id="todoapp">
          
          <div class="title">
            <h1>Classroom Pivotal Response Teaching</h1>
            <p class="intro"> Classroom Pivotal Response Teaching – Helping teachers bridge the gap between research and practice. </p>

          </div>

          <div class="content"></div>

        </div>
      
    </div>


    <!-- Templates -->

    <script type="text/template" id="login-template">

    <div class="row-fluid">

        <ul class="nav btn-group">
          <a class="btn" href="#home" data-toggle="tab">Home</a>
          <a class="btn" href="#profile" data-toggle="tab">What we do</a>
          <a class="btn" href="#messages" data-toggle="tab">Who we are</a>
          <a class="btn" href="#settings" data-toggle="tab">Resources</a>
          <a class="btn" href="#faq" data-toggle="tab">FAQ</a>
          <a class="btn" href="#contactus" data-toggle="tab">Contact Us</a>
        </ul>    

      <div class="span7">
        <br>

        <div class="tab-content">
          <div class="tab-pane active " id="home">

              <p>Pivotal Response Training (PRT) is an evidence-based practice designed to improve learning in children with Autism Spectrum Disorders in the areas of communication, social interaction, self-initiations, play skills, and academic skills in one-on-one settings. However, psychologists, teachers, and school administrators believe children with autism are best served by a collaborative community approach, so we have come together to develop a program for use during day-to-day classroom activities. This new method is known as Classroom Pivotal Response Training (CPRT) and it highlights changes that make the program more suited to group classroom environments.</p>

              <p>CPRT is a naturalistic, behavioral approach to teaching students with Autism that is soundly supported in the scientific literature. Managing the classroom and the highly varied needs of students with autism can be a challenge and teachers we have worked with have found CPRT to be fun and easy to implement with their students. Using CPRT is also not likely to require a dramatic change in the way teachers are interacting with their students; instead, it provides a way to label and enhance teaching methods to maximize student achievement, easily identify strengths and weaknesses, and train others to use the same approach. CPRT can work in your classroom because it was designed specifically with the benefits and challenges of the classroom in mind.</p>
                            
              <p>Our hope is that CPRT meets these criteria for you.</p>
          </div>
          
          <div class="tab-pane" id="profile">
                <h2> What is CPRT? </h2>
                <p> Classroom Pivotal Response Teaching (CPRT) is a naturalistic behavioral intervention that is soundly supported by the scientific literature and has been developed for use during day-to-day classroom activities. The intervention focuses on student motivation and involves presenting clear opportunities to respond, supporting student skill use, and providing appropriate consequences based on student behavior. CPRT can be used to teach variety of skills, including communication, play, peer social interaction, self-initiations, academic skills, and joint attention. CPRT has been adapted for classroom use from a program called Pivotal Response Training (PRT). PRT is based on a series of studies identifying important treatment components. CPRT has specific, evidence-based components, which are based on the principles of Applied Behavior Analysis (ABA).</p>
                
                <h2> Who can participate?</h2>
                <p> Classroom staff that work with participating teachers and teachers with at least two students who have an autism spectrum disorder and are 3-10 years old. If the lead teacher in your classroom is participating in this study, the classroom staff is also eligible to participate.</p>
                
                <p> You cannot have received any prior training in CPRT.</p>
                
                <p>About 100 classrooms (teachers, staff, students) in San Diego County will have the opportunity to participate.</p>
                
                <h2> What will happen?</h2>
                <p>Training will take place over the course of one school year. During the Training Year, you will attend 12 hours of group workshops (2 hours/week for 6 weeks). The workshops will be scheduled at times and locations that are convenient for you. You will also receive coaching in your classroom while working with your own students.</p>
                
                <p>However, all participating classrooms will not receive training in the same year. Some teachers will be trained during the 2012/2013 school year, but others will be trained during the 2013/2014 or 2014/2015 school year. </p>
                
                <h2> Who do I contact?</h2>
                <p>If you are interested in participating, please contact Renee Herman at (858) 966-7703 extension 3842.</p>
          </div>
          <div class="tab-pane" id="messages">
                <h2> Aubyn Stahmer</h2>
                <p> Aubyn C. Stahmer, Ph.D. is a Research Scientist at the Child and Adolescent Services Research Center (CASRC), an Associate Project Scientist in the Department of Psychology at the University of California, San Diego (UCSD), and the Research Director at Rady Childrenís Hospital Autism Discovery Institute. She has over 20 years of experience working with children with autism and using Pivotal Response Training. One of the major goals of her research has been to examine educational services for young children with autism in order to inform the translation of evidence-based practice into community settings. Dr. Stahmer has extensive experience training teachers in behavioral and developmental techniques and developing clinically relevant ongoing program fidelity of implementation procedures.</p>
                
                <h2> Jessica Suhrheinrich</h2>
                <p>Jessica Suhrheinrich, Ph.D. is a post-doctoral researcher at UCSD and CASRC. She is an experienced PRT trainer. Her primary area of research interest involves examining the use of PRT by classroom teachers and the best methods of training teachers to use PRT in the classroom. Before beginning graduate school, she was a classroom teacher herself and has an excellent understanding of the barriers to translation of evidence-based practice to community settings.</p>
                
                <h2> Sarah Reed</h2>
                <p>Sarah Reed, Ph.D. is a post-doctoral researcher at UCSD and CASRC. Her graduate research focuses on the implementation of evidence-based treatments in community environments and how to optimally translate intervention research across service-delivery settings. Her primary research interest involves continuing to examine the effectiveness of PRT with groups of students, as this is the service reality for many settings. Clinically, Sarah has extensive experience implementing naturalistic, behavioral interventions with children with autism as well as providing training to parents, clinicians, and students in these methods.</p>
                
                <h2> Renee Herman</h2>
                <p>Renee Herman, B.A., is a clinical research associate and has been working in the autism field for the past 5 years. Previous to her work in CASRC, she worked at Seattle Children's Research Institute as a school-based interventionist in social skills studies for teenagers with high functioning autism. She also worked at Seattle Children's Autism Center as a Family Service Coordinator. Renee is very interested in international work and has been a part of teams traveling to developing countries to conduct educational seminars and trainings on autism.</p>
                
                <h2> Tiffany Wang </h2>
                <p>Tiffany Wang, B.S., B.A., is a research associate at the Child and Adolescent Services Research Center. She began her career in the field of autism as an undergraduate research assistant at CASRC. After graduating from the University of California, San Diego (UCSD), she has been working on various projects with the Interact Team, researching ways to bring evidene based practices into the community settings.</p>
                
                <h2> Janice Chan</h2>
                <p>Janice Chan, M.A., is a teacher coach with the CPRT study. After beginning her career in autism as an undergraduate research assistant in the UCSD Autism Lab, she later graduated from SDSU, where she obtained her moderate/severe teaching credential and Masters in special education with a specialization in autism. She has worked with children with autism from ages 3-12 in public schools, early intervention, and overseas residential autism programs. Having applied principles of ABA to these various settings, Janice's interests now lie in dissemination of evidence-based practices to staff working directly with children with autism.</p>
                
                <h2> Jennie Myhra</h2>
                <p>Jennie Myhra, M.A., B.C.B.A., has 12 years experience working with children, adolescents and adults with Autism Spectrum Disorders (ASD) and Developmental Disabilities (DD). She possesses a Masters Degree in Special Education with an emphasis in Autism from San DIego State University. She is also a Board Certified Behavior Analyst. Previously, Jennie taught in the San Diego Unified School DIstrict for 3 years. She currently supervises student teachers and M.A. candidates in the speial education credential and autism programs at San Diego State University. Jennie has extensive experience in creating and supervising behavioral treatment programs for young children in intensive ABA programs in school and home environments.</p>
                
                <h2> Meghan Naaf</h2>
                <p>Meghan Naad, B.A. began at the Child and Adolescent Services Research Center as an intern working on implementing evidence based practices into community settings. She has helped translate Pivotal Response Teaching (PRT) into the classroom environment, and has also volunteered at the "High Fives" social skills group at the Autism Discovery Institute. She is currently interested in early intervention programs for children with autism.</p>
                
                <h2> Sarah Vejnoska</h2>
                <p>Sarah Vejnoska, B.A., is a research assistant at the Child and Adolescent Services Research Center. She recently graduated from UCSD with a bachelor's degree in psychology and a minor in cognitive science. She began working as an undergraduate intern at the UCSD Autism Intervention Research Program and has plans to pursue graduate studies in the field.</p>
          </div>

          <div class="tab-pane" id="settings">Put text here for Resources</div>

          <div class="tab-pane" id="faq">
                <h2> Why do I have to do all this stuff before and after the training?</h2>
                <p>The reason we can provide free comprehensive training is that we are funded to do a research study evaluating CPRT. To accurately measure how much participating teachers and students learn, we have to have assessments before and after everyone participates in training. We also need to have a “control group” or a group of teachers and students who are currently not going through the training. This allows us to measure how much change is related to receiving training in CPRT.</p>
                
                <h2>How much time does this really take?</h2>
                <p>The training itself will take 12 hours (6 workshops that are 2 hours each). You’ll be asked to review materials in the CPRT manual we provide and practice activities with your students during the regular school day. This may take about 1 hour each week during the training weeks.</p>
                
                <p>We will also ask you to complete a weekly checklist that will take about 5 minutes each week throughout the school year.</p>
                
                <p>You will also complete some paperwork about yourself and your target students during the Training Year and the Observation Year. This will take about 1 hour at the beginning and end of each year.</p>
                
                <h2>What are the Classroom Observations?</h2>
                <p>The Classroom Observations are our opportunity to see how you teach your students. You will get to choose two activities (about 15-30 minutes each) that we use for the Classroom Observation throughout the entire project. You will get to choose the dates and times for the observations. During the Training Year and the Observation Year, the Classroom Observations will happen once every other month (e.g., September, November, January, March, May). During the Follow-up years, we will only schedule one to two Classroom Observations.</p>
                
                <h2>How will this affect the other staff in my classroom?</h2>
                <p>The paraprofessionals/assistants in your classroom are invited to participate too. If they don’t want to participate, that’s   OK too. They can attend the group workshops or watch brief computer-based presentations that have been developed to help teachers train paraprofessional staff. Paraprofessionals will also receive individual coaching if they choose to participate. </p>  
          </div>

          <div class="tab-pane" id="contactus">
                <p>If you have any questions, please feel free to contact us at rherman@casrc.org or 858.966.7703 x3842!</p>
          </div>
        </div>

      </div>



    <div class="span3">

      <header id="header"></header>
  
        <div class="login">

          <form class="login-form form">
          <fieldset>
              <legend>Log in</legend>
            
            <div class="error alert  alert-error" style="display:none"></div>
            <div class="control-group">

              <label class="control-label" for="login-username">Username</label>
              <div class="controls">
                <input type="text" id="login-username" />
              </div>
            </div>

            <div class="control-group">          
              <label class="control-label" for="login-password">Password</label>
              <div class="controls">
                <input type="password" id="login-password" />
              </div>
            </div>

            <button class="btn btn-success">Log In</button>
          </fieldset>
          </form>

         </div>    
      </div>
    </div>

    </script>

































    <script type="text/template" id="manage-todos-template">
          <div>
            <div class="page-header">
              <h3>Welcome to the CPRT Study <%= Parse.User.current().get("fullName") %>!</h3>
              <p></p>
              <p>Thank you again for participating in our Classroom Pivotal Response Teaching Study! </p>
            </div>

            <div class="row">
              <div class="well span4 pull-right">
                <center>
                <h3>Account details</h3>
                <p>Full name: <%= Parse.User.current().get("fullName") %><br>
                Username: <%= Parse.User.current().get("username") %><br>
                Location: <%= Parse.User.current().get("location") %></p>
                
                <a href="#" class="btn btn-inverse log-out">Click to log out</a>
                </center>
              </div>

              <!-- open row div tag -->
    






<!-- THIS IS WHERE YOU DEFINE THE SCHEDULED RELEASE -->   

<!-- SCHEDULE 0 -->  

  <!-- 11/8/12  11/29/12  12/6/12 12/13/12 -->              

        <% if(Parse.User.current().get("schedule") == 0){ %>

              <div class="span7">
                <p>Hi <%= Parse.User.current().get("fullName") %>, you are part of the Class of 2013. We are very excited to have you be a part of this class! You will receive training during the 2012-2013 school year, and will participate in some additional assessments and classroom observations in the following years. </p>

                <p>On the website, you will have access to all training materials and handouts that you will have received from <%= Parse.User.current().get("trainer") %>!</p>
                <p> If you have any questions about the training or any of the materials, don't hesitate to contact <%= Parse.User.current().get("trainer") %> at 858.966.7703 x <%= Parse.User.current().get("trainerX") %>   or  <%= Parse.User.current().get("trainerEmail") %>   !
                <p>If you have any general questions about the study, please contact Renee Herman  at rherman@casrc.org or 858-966-7704 ext 3842.  </p> 

              </div>

              
            </div>        <!-- close row div tag -->
      
              <div class="page-header ">
              <h3>Handouts</h3>
              </div>


  <!-- COPY AND PASTE FOR EACH SESSION: FROM HERE -->              

              <div class="span12">
                
                <!-- first session -->

                <!--set the date here to match the schedule date  - be careful as the month starts from 0 (e.g. 0 -> january)-->
                <%
                  today = new Date();    
                  dateLimit = new Date(2012,10,8);
                  if ( today > dateLimit) { 
                %>  

                  <h4>Session 1 Materials <small> Available after <%= dateLimit %></small></h4>
                  <ol>
                  <li><a href="images/handouts/session_1/gathering_info.pdf">Gathering Information</a></li>

                  <li><a href="images/handouts/session_1/time-based_preference_assessment.pdf">Time Based Preference Assessment</a></li>

                  <li><a href="images/handouts/session_1/paired_choice_preference_assessment.pdf">Paired Choice Preference Assessment</a></li>

                  <li><a href="images/handouts/session_1/not_found.pdf">CPRT Training Plan Template</a></li>

                  <li><a href="images/handouts/session_1/homework_handout_session_1.pdf">Homework Handout - Session 1</a></li>

                  <li><a href="images/handouts/session_1/session_1_study_guide.pdf">Session 1 Study Guide</a></li>

                  <li><a href="images/handouts/session_1/session_2_study_guide.pdf">Session 2 Study Guide</a></li>

                  <li><a href="images/handouts/session_1/not_found.pdf">Slide Handouts - Session 1</a></li>
                  <br>
                  </ol>

                <% } %>
              </div>
          </div>
        </div>

  <!-- COPY AND PASTE FOR EACH SESSION: TO HERE -->              

        <% } %>

<!-- END SCHEDULE 0 -->              




<!-- SCHEDULE 1 -->              
<!-- END SCHEDULE 1 -->              

<!-- SCHEDULE 2 -->              
<!-- END SCHEDULE 2 -->              

<!-- SCHEDULE 3 -->              
<!-- END SCHEDULE 3 -->              

<!-- SCHEDULE 4 -->              
<!-- END SCHEDULE 4 -->              

<!-- SCHEDULE 5 -->              
<!-- END SCHEDULE 5 -->          

<!-- SCHEDULE 6 -->              
<!-- END SCHEDULE 6 -->          

<!-- SCHEDULE 7 -->              
<!-- END SCHEDULE 7 -->          

<!-- SCHEDULE 8 -->              
<!-- END SCHEDULE 8 -->          

<!-- SCHEDULE 9 -->              
<!-- END SCHEDULE 9 -->          






      <div class="section">


      </div>
    </script>


  </body>
  
</html>
